// Tipografia
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
$fontFamily: 'Public Sans', sans-serif;
$fontSize: 18px;


// Colores
$colorDarkBlue: hsl(233, 26%, 24%);
$colorLimeGreen: hsl(136, 65%, 51%);
$colorBrightCyan: hsl(192, 70%, 51%);
$colorGrayishBlue: hsl(233, 8%, 62%);
$colorLightGrayishBlue: hsl(220, 16%, 96%);
$colorVeryLightGray: hsl(0, 0%, 98%);
$colorWhite: hsl(0, 0%, 100%);