/*Componentes principales.*/
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/functions';
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fontFamily !important;
    font-size: $fontSize !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-easybank {
    background-color: $colorLimeGreen !important;
    border: none !important;
    border-radius: 25px !important;
    text-transform: capitalize !important;
    padding: 10px 20px !important;
    font-weight: bold !important;
}

h1, h3 {
    color: $colorDarkBlue !important;
}

/*Barra de Navegación */


/*Clases del Header*/
.header-easybank {
    margin-top: 60px;
    margin-bottom: 150px !important;

    h1 {
        font-size: 4rem;
        font-weight: 700;
    }
    .rowheader-main {
        height: 650px;
        
        .img-mockup {
            // width: auto;
            height: 450px;
            background: url('/images/bg-intro-desktop.svg');
            background-size: cover;
            background-position: left top;

            .imagen-mockup {
                margin-top: '150px' !important;
            }
        }
    }
    

    @include media-breakpoint-down(md) {
        h1 {
            font-size: 3rem;
            font-weight: 500;
        }

        .rowheader-main {
            height: auto;

            .img-mockup {
                // width: auto;
                height: auto;
                background: url('/images/bg-intro-mobile.svg');
                background-size: cover;
                background-position: left top;

                img {
                    margin-top: '-140px';
                    width: 100% !important;
                }
            }
        }
    }
}

/*Css para WhyChoose EasyBank*/

.title-choose {
    cursor: pointer;

    &:hover {
        font-weight: bold !important;
        color: $colorLimeGreen !important;
    }
}

.container-why-container-main {
    background-color: hsl(235, 46%, 98%);
}
.why-container-main {
    h1 {
        font-size: 3rem !important;
    }
}

/*Css para Latest Articles*/

.title-article {
    cursor: pointer;

    &:hover {
        font-weight: bold !important;
        color: $colorLimeGreen !important;
    }
}

.image-article {
    width: 100% !important;
    height: 203px !important;
    object-fit: cover !important;

    @include media-breakpoint-down(md) {
        height: auto !important;
    }
}

/*Css para el Footer*/

.footer-main-container {
    background-color: $colorDarkBlue;

    p {
        color: white !important;
        font-weight: bold !important;
    }

    .copyright {
        opacity: 0.8;
        color: $colorGrayishBlue !important;
    }
}